<h1>Questions#show</h1>
<p>Find me in app/views/questions/show.html.erb</p>

<%= @question.title %>

<%= simple_form_for @question, url: (answers_path), method: :post do |f|%>
  <%= f.collection_radio_buttons :choices, [[@question.choices[0].id, 'OUI'] ,[@question.choices[1].id, 'NON']], :first, :last %>
  <%= f.button :submit, value: "Valider", class: "btn btn-primary" %>
<% end %>

