<div class="bg-gradient">
  <div class="form swing-in-top-fwd">
    <p class=""><%= @question.title %></p>
      <%= button_to 'OUI', {:controller => "answers", :action => "create", :question => {:choices => @question.choices[0]}} , :method=>:post, class: "btn my-button"  %></td>
      <%= button_to 'NON', {:controller => "answers", :action => "create", :question => {:choices => @question.choices[1]}} , :method=>:post, class: "btn my-button"  %>
  </div>
</div>

