<div class="bg-gradient">
  <div class="form">
    <p class="tracking-in-contract "><%= @question.title %></p>
    <%= simple_form_for @question, url: (answers_path), method: :post do |f|%>
      <%= f.collection_radio_buttons :choices, [[@question.choices[0].id, 'OUI'] ,[@question.choices[1].id, 'NON']], :first, :last %>   <br>
      <%= f.submit value: 'Valider', class: 'button', id: 'button-question-form', disabled: true , data: { "disable-with": "Valider"} %>
    <% end %>
  </div>
</div>

