iframe {
  border-radius: 5px;
  box-shadow: 5px 2px 15px lightgrey;
}

.video-content .btn-show {
  text-align: center;
  position: relative;
  left: 47%;
  margin-bottom: 20px;
  margin-top: 20px;
}
