.container .banner {
  text-align: center;
}

.card-category {
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
}

.text-article p {
  font-size: 18px;
  padding-top: 16px;
}

.text-article .btn-show {
  text-align: center;
  position: relative;
  left: 47%;
  margin-bottom: 20px;
}
