<div class="container">
  <h1 class="text-center p-5"><%= @step.title %></h1>
  <div class="video-content p-5">
    <iframe width="956" height="538" src=<%= @video.url %>
    frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope;
      picture-in-picture" allowfullscreen></iframe>
    <%= link_to "Retour", steps_path(anchor: Step.find(current_user.step_id).position), class:"btn btn-show mb-5" %>

  </div>
</div>
