<div class="footer">
    <div class="container">
        <div class="row">
            <div class="col-12 d-flex align-items-center justify-content-around">
            <%= image_tag "https://res.cloudinary.com/ded9yhg1e/image/upload/v1593011991/z9fy6nrzznqf2f9ngkyx.png", width: 130 %>
            <h3>Cookies</h3>
            <h3>Privacy</h3>
            <h3>Contact</h3>
            <h3>Subscribe</h3>
            <i class="fab fa-facebook fa-2x"></i>
            <i class="fab fa-linkedin fa-2x"></i>
            <i class="fab fa-twitter-square fa-2x"></i>
            </div>
        </div>
    </div>
</div>