.button {
  text-decoration: none;
  background-color: #fc9962;
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  box-shadow: 5px 5px 15px #fc9962;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
