#button-question-form{
  visibility: hidden;
}
.button {
  text-decoration: none;
  background-color: #fc9962;
  color: white;
  padding: 16px 24px;
  border-radius: 50px;
  box-shadow: 5px 5px 15px #fc9962;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  border: none;
  &:hover {
    color: white;
    text-decoration: none;
  }
}
.heartbeat {
  -webkit-animation: heartbeat 1.5s ease-in-out infinite both;
  animation: heartbeat 1.5s ease-in-out infinite both;
}

#button-question-form {
  margin-top: 50px;
}

input[type="radio"] {
  margin-top: 50px;
  display: none;
}

label {
  cursor: pointer;
  margin-right: 18px;
  color: #fc9962;
  background-color: white;
  padding: 18px;
  border-radius: 8px;
  opacity: 0.5;
  width: 100px;
}

.activebtn {
  color: white;
  background-color: #fc9962;
  opacity: 1;
}

.btn-show {
  border-radius: 8px;
  background-color: #fc9962;
  color: white;
  padding: 6px 12px;
  // box-shadow: 5px 5px 15px #fc9962;
  font-family: "Raleway", sans-serif;
  &:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
}
