.homecard {
  box-shadow: 5px 5px 15px lightgray;
  padding: 0;
  margin-bottom: 50px;
  border-radius: 8px;
}

.top {
  position: relative;
  background-color: #fc9962;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    clip-path: polygon(100% 85%, 0 100%, 100% 100%);
  }
}

.top2 {
  position: relative;
  background-color: #f56871;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    clip-path: polygon(100% 85%, 0 100%, 100% 100%);
  }
}

.top3 {
  position: relative;
  background-color: #75c1e1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 200px;
    background-color: white;
    clip-path: polygon(100% 85%, 0 100%, 100% 100%);
  }
}

#img-card {
  position: relative;
  top: -70px;
}

#img-card2 {
  position: relative;
  top: -55px;
  left: 35px;
}

h3 {
  font-size: 18px;
}
