.homecard {
  box-shadow: 5px 5px 15px lightgray;
  padding: 0;
  margin-bottom: 50px;
  border-radius: 8px;
}

.top {
  background-color: #fc9962;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.top2 {
  background-color: #f56871;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

.top3 {
  background-color: #75c1e1;
  border-top-right-radius: 8px;
  border-top-left-radius: 8px;
}

#img-card {
  position: relative;
  top: -70px;
}

#img-card2 {
  position: relative;
  top: -55px;
  left: 35px;
}

h3 {
  font-size: 18px;
}
