.dashboardimg {
  width: 250px;
}

body {
  background-color: white;
}

.dashboard h1 {
  font-size: 18px;
  font-family: "Raleway", sans-serif;
  color: #fc9962;
  font-weight: bold;
}

.dashboard h2 {
  font-size: 16px;
}
