.navbar-lewagon {
  justify-content: space-around;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 120px;
}

.navbar-light .navbar-nav .show > .nav-link,
.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .nav-link.active {
  color: #fc9962 !important;
  font-weight: 800;
}

.bg-gradient {
  height: 100vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 228, 139, 1) 100%
  );
}

.nav-link {
  padding: 0.5rem 1rem 0rem 1rem !important;
}
