.fas {
  color: white;
  padding: 8px;
  border-radius: 50%;
}

.bgfas {
  background-color: #fc9962;
}

.bgfas2 {
  background-color: #f56871;
}
.bgfas3 {
  background-color: #75c1e1;
}

.step-numbers {
  color: white;
}

.bg-numbers {
  background-color: #fc9962;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
  padding: 36px 8px;
}
