.myinformations {
  font-size: 27px;
}
.myavatar {
  border-radius: 50%;
  width: 160px;
  height: 160px;
}
.mysurroundcircle {
  margin-top: -70px;
  line-height: 25px;
  width: 35px;
  height: 35px;
  border-radius: 50%;
  border: solid 2px #fc9962;
}
h2 {
  font-family: "Raleway", sans-serif !important;
}

body {
  font-family: "Raleway", sans-serif !important;
}

.offsetanchor {
  margin: -80px;
  padding: 80px;
}
.devise-bg {
  width: 100vw;
  height: 100vh !important;
}
.my-validate {
  background-color: #45b37a !important;
  color: white;
  position: relative;
  &:hover {
    color: white;
    transform: scale(1.1);
    transition: 0.5s;
  }
  // box-shadow: 5px 5px 10px #45b37a !important;
}

.container-slider .my-button {
  border-radius: 8px;
  background-color: #fc9962;
  color: white;
  padding: 6px 12px;
  position: absolute;
  bottom: 10px;
  // box-shadow: 5px 5px 15px #fc9962;
  font-family: "Raleway", sans-serif;
}

.my-column {
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-around;
  align-items: center;
}
.my-subtitle {
  justify-self: center;
  width: 100%;
  padding: 20px;
  text-align: center;
}

.my-number-box {
  color: white;
  // background-color: #FC9962;
  // height: 100%;
  padding: 40px 10px;
  border-radius: 5px 0 0 5px;
  margin: 0;
  position: relative;
  &:before {
    content: "";
    position: absolute;
    left: 10px;
    bottom: 0;
    background-color: green;
    clip-path: polygon(100% 100%, 150% 100%, 150% 150%);
    height: 100%;
    width: 100%;
  }
}

// .my-number {
//   color: white;
//   // background-color: #FC9962;
//   height: 100%;
//   padding: 40px 10px;
//   // border-radius: 50px 0 0 50px;
//   margin: 0;
// }
.my-shadow {
  box-shadow: 5px 5px 15px lightgray;
  border-radius: 10px;
}
.mybg-gradient {
  height: 100%;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 1) 0%,
    rgba(255, 228, 139, 1) 100%
  );
  padding-bottom: 50px;
}
.vignette {
  width: auto;
  height: 80px;
  float: left;
}
.small_vignette {
  width: 100%;
}
.bigvignette {
  width: 500px;
  height: auto;
  border-radius: 10px;
  box-shadow: 10px 5px 5px gray;
}
.smallpicture {
  width: 100px;
  height: 40px;
}
.para {
  width: 450px;
}

* {
  box-sizing: border-box;
}

/* Set a background color */
.subbody {
  background-color: white;
}

/* The actual timeline (the vertical ruler) */
.timeline {
  position: relative;
  max-width: 1200px;
  margin: 0 auto;
  margin-top: -35px;
  padding-top: 50px;
}

/* The actual timeline (the vertical ruler) */
.timeline::after {
  content: "";
  position: absolute;
  width: 3px;
  background-color: rgba(255, 228, 139, 1);
  top: 0;
  bottom: 0;
  left: 0%;
  margin-left: -3px;
}

/* Container around content */
.containermine {
  padding: 10px 40px;
  position: relative;
  width: 50%;
}

/* The circles on the timeline */
.petitrond {
  content: "";
  position: relative;
  left: -0.75%;
  width: 15px;
  height: 15px;
  background-color: #fff;
  border-width: 4px;
  border-style: solid;
  // border-color: var(--main-color[2]);
  top: 15px;
  border-radius: 50%;
  z-index: 1;
}
.petitrondfixe {
  content: "";
  position: relative;
  left: -1.2%;
  width: 25px;
  height: 25px;
  // background-color: #efefef;
  border-width: 4px;
  border-style: solid;
  top: 80px;
  border-radius: 50%;
  z-index: 1;
}

/* Place the container to the left */
.left {
  left: 0;
}

/* Place the container to the right */
.right {
  left: 50%;
}

/* Fix the circle for containers on the right side */
.right::after {
  left: -16px;
}

/* The actual content */
.content {
  // padding: 20px 30px;
  background-color: #efefef;
  position: relative;
  border-radius: 5px;
  height: 100%;
  box-shadow: 5px 5px 15px lightgray;
  &:hover {
    transform: scale(1.1);
    transition: 0.5s;
  }
}

.contentnone {
  padding: 20px 30px;
  background-color: transparent;
  position: relative;
  border-radius: 6px;
  height: 100%;
}
.righter {
  left: 50%;
}
.containerblank {
  padding: 10px 40px;
  position: relative;
  background-color: inherit;
  height: 200px;
}

.content {
  width: 100%;
}

.card-product {
  overflow: hidden;
  height: 355px;
  z-index: 1;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 65%;
  border-radius: 8px;
  width: 363px;
  display: flex;
  flex-direction: column;
}

.card-product img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 12px;
}

.my-button:hover {
  text-decoration: none;
  color: white;
}

.video-card {
  overflow: hidden;
  height: 355px;
  z-index: 1;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 65%;
  border-radius: 8px;
  width: 363px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.video-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.video-card h2 {
  font-size: 16px;
  padding-top: 8px;
  font-weight: bold;
  margin: 0;
}

.video-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 12px;
}
.coach-card {
  overflow: hidden;
  height: 355px;
  z-index: 1;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  margin-top: 65%;
  border-radius: 8px;
  width: 363px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.coach-card img {
  height: 50%;
  width: 100%;
  object-fit: cover;
}

.coach-card h2 {
  font-size: 16px;
  padding-top: 8px;
  font-weight: bold;
  margin: 0;
}

.coach-card p {
  font-size: 14px;
  line-height: 1.4;
  opacity: 0.7;
  margin-bottom: 0;
  margin-top: 8px;
  padding-left: 12px;
}

.card-product .my-button {
  position: absolute;
  bottom: 10px;
  left: 50%;
}

.progress-bar {
  background: linear-gradient(
    90deg,
    rgba(253, 200, 48, 1) 0%,
    rgba(243, 115, 53, 1) 100%
  );
}

.scale-in-center {
  -webkit-animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94)
    both;
  animation: scale-in-center 0.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}
@-webkit-keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}
@keyframes scale-in-center {
  0% {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
    opacity: 1;
  }
}

.displayprogress {
  background-color: #d4a024;
  text-align: center;
  color: white;
  font-family: "Raleway" sans-serif;
  z-index: 1;
  &:hover {
    color: white;
  }
}
